wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/

node_modules/
vendor/


.DS_Store
Thumbs.db

*.log
.htaccess
*.sql
*.sqlite

.env
.env.*
!.env.example